body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #CEE6F3;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

input[type="text"] {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li button {
  background-color: #dc3545;
}

li button:first-child {
  background-color: #ffc107;
  margin-right: 5px;
}

li button:hover {
  background-color: #c82333;
}

li button:first-child:hover {
  background-color: #e0a800;
}